---
import { getCollection } from 'astro:content'
import PhoneMockup from '../ui/phone-mockup.astro'
import TabletMockup from '../ui/tablet-mockup.astro'
import astroMenuPhone from 'assets/astro-menu-phone.png'
import astroMenuDashboard from 'assets/dashboard.png'

const featuresEntries = await getCollection('features', ({ data }) => {
	return !data.draft && data.publishDate < new Date()
})

featuresEntries.sort((a, b) => a.data.order - b.data.order)
---

<section class="mt-16 rounded-lg bg-gray-50 px-5 py-8 sm:mb-16 md:mt-0">
	<div class="intersect-once intersect:animate-fade-right">
		<h2 class="text-center text-4xl font-bold lg:text-5xl lg:tracking-tight">
			Everything you need to build your menu
		</h2>
	</div>

	<div class="mt-8 flex flex-col gap-8 lg:flex-row">
		<div class="flex flex-col gap-4 pl-4 lg:w-[40%]">
			<p class="mt-4 text-lg">
				<span class="text-rose-400">Astro Menu</span> comes batteries included. It not just another QR
				Menu, it comes with Staff dashboard to help you be in full control of customers orders, including
				many other features such as analytics, auto translation, meals filtering, and more.
			</p>
			<p>
				Astro-Menu goal is to offers you with everything that would make taking and serving orders
				faster and easier for you and your customers.
			</p>
			<p>Here are some key features that Astro-Menu offers you:</p>

			<div class="grid grid-cols-2 gap-2 sm:grid-cols-3">
				{
					featuresEntries.map((item, index) => (
						<div class="flex flex-col items-center justify-center gap-1 rounded-lg bg-gray-100 p-3">
							<img src={`/assets/icons/${item.data.icon}.svg`} class="h-8 w-8" alt={item.data.title} />
							<p class="text-md text-center font-bold">{item.data.title}</p>
						</div>
					))
				}
			</div>

			<a
				href="/features"
				class="mt-4 self-center rounded-md bg-black p-2 text-white hover:bg-rose-500 sm:self-start"
				>Check Out the Full Features List</a
			>
		</div>

		<div class="invisible relative hidden items-center justify-center sm:flex md:visible md:mt-10">
			<PhoneMockup
				className="absolute -bottom-10 left-10 z-10 lg:-bottom-2"
				imgSrc={astroMenuPhone}
				text="Menu View"
			/>
			<TabletMockup className="" imgSrc={astroMenuDashboard} text="Waiter Dashboard" />
		</div>
	</div>
</section>
