---
import { getCollection } from 'astro:content'
import FeatureCard from '@components/ui/feature-card.astro'
import heroSvg from 'assets/hero.svg'

const featuresEntries = await getCollection('features', ({ data }) => {
	return !data.draft && data.publishDate < new Date()
})

featuresEntries.sort((a, b) => a.data.order - b.data.order)

const features = [
	{
		title: 'cloud POS, kitchen and admin dashboard',
		description:
			'No physical lock-down, no expensive hardware, no more maintenance, run your business on any device that have an internet and a browser, iPad, Tablet or Desktop, astro-menu is responsive and works on any device, anywhere, everything runs on the cloud !!',
		bgColor: 'bg-cyan-400',
		imgSrc: 'assets/icons/cloud.svg'
	},
	{
		title: 'Multi-Languages and Translation',
		description: `no more language barrier, translate your menu to any language you want and let your customers choose their preferred language, don't miss out on any customer`,
		bgColor: 'bg-green-400',
		imgSrc: 'assets/icons/translate.svg'
	},
	{
		title: 'Self Order',
		description: `Customers dont have to wait for a waiter to take their order, they can simply scan a QR code on their table and order directly from their phone, waiter will only need to confirm order and send it to the kitchen, this will save time and increase your sales`,
		bgColor: 'bg-purple-400',
		imgSrc: 'assets/icons/self-order.svg'
	},
	{
		title: 'And many more features',
		description: `Check out our features page to see all the features we offer, we are constantly adding new features to make your business run smoothly`,
		bgColor: 'bg-white',
		imgSrc: 'assets/icons/features.svg'
	}
]
---

<section class="-mx-8 mt-16 rounded-lg px-5 py-8 sm:mx-auto sm:mb-16 md:mt-24">
	<div class="intersect-once intersect:animate-fade-right">
		<h2 class="text-center text-4xl font-bold text-white lg:text-5xl lg:tracking-tight">
			Astro-Menu comes batteries included
		</h2>
		<p class="mt-4 text-center text-lg text-white">
			<span class="text-rose-400">Astro Menu</span> is a cloud solution to run your food business, it
			helps you showcase your food menu in an simple, eye-catching design that is easy to navigate.
		</p>
	</div>

	<div class="mt-16 grid grid-cols-2 gap-6">
		<div class="grid-row-2 grid gap-6">
			<FeatureCard
				bgColor={features[0].bgColor}
				title={features[0].title}
				description={features[0].description}
				bgSVG={''}
				imgSrc={features[0].imgSrc}
			/>
			<FeatureCard
				bgColor={features[3].bgColor}
				title={features[3].title}
				description={features[3].description}
				bgSVG={''}
				btnText="See all features"
				btnLink="/features"
				height="100"
				imgSrc={features[3].imgSrc}
			/>
		</div>
		<div class="flex flex-col gap-8">
			{
				features
					.slice(1, 3)
					.map((feature) => (
						<FeatureCard
							bgColor={feature.bgColor}
							title={feature.title}
							description={feature.description}
							bgSVG={''}
							imgSrc={feature.imgSrc}
						/>
					))
			}
		</div>
	</div>
</section>
