---
const { feature, direction = 'flex-row', imgComponent } = Astro.props
---

<div class:list={['my-2 flex items-center gap-5 rounded-lg py-10', direction]}>
	<div
		class:list={[
			'flex w-1/2 flex-col ',
			direction === 'flex-row-reverse'
				? 'border-r-8 border-rose-400 pr-10'
				: 'border-l-8 border-rose-400 pl-10'
		]}
	>
		<img
			src={`/assets/icons/${feature.data.icon}.svg`}
			alt={feature.data.title}
			class="h-20 w-20"
		/>
		<h1 class="text-3xl font-bold">{feature.data.title}</h1>
		<p class="mt-5 text-lg">
			{feature.data.snippet}
		</p>
		<a class="btn-secondary btn mt-5 self-start" href={`/features/${feature.slug}`}
			>learn more about <span class="text-primary">{feature.data.title}</span> feature</a
		>
	</div>
	<div class="flex w-1/2 flex-row items-center justify-evenly">
		<slot />
	</div>
</div>
