---
import { getCollection } from 'astro:content'
import type { GetStaticPaths } from 'astro'
import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
import { Debug } from 'astro:components'
import Link from '@components/ui/link.astro'
import FeaturesLayout from '@layouts/FeaturesLayout.astro'

// Generate a new path for every collection entry
export async function getStaticPaths() {
	const featuresEntries = await getCollection('features')

	return featuresEntries
		.filter((entry) => entry.slug.includes('waitstaff/'))
		.map((entry) => ({
			params: { slug: entry.slug.substring(10) },
			fullPath: entry.data.path,
			props: { entry }
		}))
}

// Get the entry directly from the prop on render
const { entry } = Astro.props
const { Content } = await entry.render()
---

<FeaturesLayout title={entry.data.title}>
	<Container>
		<div class="max-w-1xl mx-auto my-2">
			<div class="flex flex-row items-center justify-between">
				<div class="flex flex-row items-center gap-2 text-sm">
					<p class="text-zinc-400 hover:text-zinc-400" style="text">Features</p>
					<div class="text-zinc-400">/</div>
					<p class="capitalize text-zinc-400">
						{entry.data.category}
					</p>
					<div class="text-zinc-400">/</div>
					<p class="capitalize text-zinc-400">
						{entry.data.title}
					</p>
				</div>
				<time class="text-xs text-zinc-400" datetime={entry.data.publishDate.toISOString()}>
					Last updated: {entry.data.publishDate.toDateString()}
				</time>
			</div>
			<h1
				class="mt-1 text-4xl font-bold capitalize text-white lg:text-5xl lg:leading-tight lg:tracking-tight"
			>
				{entry.data.title}
			</h1>
			<div class="mt-2 flex w-full flex-wrap gap-3 md:w-auto">
				<p class="text-purple-400">Applicable Plans:</p>
				{
					entry.data.tags.map((tag) => (
						<span class="rounded-xxl bg-zinc-800 px-2 py-1 text-xs font-semibold capitalize text-white">
							{tag}
						</span>
					))
				}
			</div>
		</div>

		<hr class="border-dashed border-zinc-700" />

		<div class="mx-auto my-8 text-white">
			<Content />
		</div>
	</Container>
</FeaturesLayout>
