---
import Link from '@components/ui/link.astro'

const { plan, index } = Astro.props
---

<div
	class={`intersect:animate-fade-left flex justify-between flex-col w-full order-first lg:order-none border-2 ${plan.popular ? 'border-rose-400' : 'border-[#f1f1f1]'} border-opacity-80 py-5 px-6 rounded-md`}
	style={`animation-delay: ${index * 0.25}s`}
>
	<div>
		<div style="display:flex; justify-content:space-between; align-items:center;" class="mb-2">
			<div style="display:flex; flex-direction: row; align-items:center; gap:8px">
				<img src={`/assets/plans/${plan.icon}.svg`} alt="coffee" class="mx-auto h-10 w-10" />
				<p class="text-lg whitespace-nowrap font-bold xl:text-2xl">
					{plan.name}
				</p>
			</div>
			{
				plan.popular && (
					<div class="rounded-lg bg-rose-200 px-2 py-1 text-xs uppercase">
						<p>most popular</p>
					</div>
				)
			}
		</div>
		<p class="text-sm h-36">{plan.description}</p>
		<p class="text-5xl text-black font-bold text-center py-2">
			{plan.price}
			<span class="text-sm text-gray-400">/month</span>
		</p>
	</div>
	<ul class="mt-8 grid gap-y-2 text-left">
		{
			plan.features.map((item, featureIndex) => (
				<li key={featureIndex} class="flex items-start gap-3 text-gray-800">
					<svg
						class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							fillRule="evenodd"
							d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
							clipRule="evenodd"
						/>
					</svg>
					<span class={featureIndex <= 2 ? 'font-bold' : 'font-thin'}>{item}</span>
				</li>
			))
		}
	</ul>
	<div class="mt-8 flex">
		<Link
			href={plan.button.link || '#'}
			block
			style={plan.popular ? 'primary' : 'outline'}
			class={plan.popular ? 'bg-rose-500' : 'bg-white'}
		>
			{plan.button.text || 'Get Started'}
		</Link>
	</div>
</div>
